body
{
	/* Background from http://backgrounds.mysitemyway.com/ */
	background-image: url("../media/background.jpg");
	background-repeat: repeat;
}

/* Responsive Footer */
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#container {
	min-height:100%;
	position:relative;
}
#header {
	padding:2px;
}
#content {
	padding:2px;
	padding-bottom:60px;   /* Height of the footer */
}
#footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;   /* Height of the footer */
}

h1, h2
{
	font-family: 'Merienda', cursive;
	color: white;
	text-align: center;
}

h1
{
	font-size: 50px;
}

h2
{
	margin-top: -50px;
}

#teams
{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	color: white;
	font-size: 30px;
}

.thinfont
{
	font-family: 'Exo 2', sans-serif;
}

.teamname
{
	float:left;
}

.score
{
	border: 2px solid #dadada;
	border-radius: 7px;
}

.increaseScore, .decreaseScore, .score
{
	font-family:  'Exo 2', sans-serif;
	font-size: 30px;
	text-align: center;
	width: 45px;
	height: 45px;
	float: right;
	margin-left: 5px;
	background-repeat: no-repeat;
	background-size: 100%; 
}

.teamSeparator
{
	clear:both;
	float: none;
	height: 20px;
}

.increaseScore
{
	background-image: url("../media/icons/arrow_up_alt1_32x32.png");
}

.decreaseScore
{
	background-image: url("../media/icons/arrow_down_alt1_32x32.png");
}

.score
{
	font-size: 35px;
}

#settings, #info
{
	float: right;
	width: 32px;
	height: 32px;
	margin-left: 2px;
	border: 2px solid #dadada;
	border-radius: 50%;
}

#settings:hover, #info:hover
{
	border-color: red;
}

#settings img
{
	width: auto;
	height: 80%;
	margin-top: 3px;
	margin-left: 3px;
}

#info img
{
	width: auto;
	height: 70%;
	margin-top: 3px;
	margin-left: 11px;
}

.modalTitle
{
	font-family: 'Merienda', cursive;
	font-size: 40px;
}

.conceal
{
	display: none;
}

.button
{
	text-align: center;
	background-color: red;
	vertical-align: center;
	color: white;
	height: 25px;
	width: 150px;
}

@-webkit-keyframes thumb {
	0% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(0.8); }
	100% { -webkit-transform: scale(1); }
}

#settings img:hover
{
	-webkit-animation-name: thumb;
	-webkit-animation-duration: 200ms;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

#info img:hover
{
	-webkit-animation-name: thumb;
	-webkit-animation-duration: 200ms;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.increaseScore:hover
{
	-webkit-animation-name: thumb;
	-webkit-animation-duration: 500ms;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.decreaseScore:hover
{
	-webkit-animation-name: thumb;
	-webkit-animation-duration: 500ms;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

#description, #resources
{
	/*position: absolute;*/
}

.bordered
{
	border: white 1px solid;
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}